body {
  margin: 0;
  font-size: 100%;
  text-align: center;
  /* works only for elements which do not have a width set*/
  font-family: 'Chilanka', cursive;
  background-color: #d6efc7;

}



h1 {
  margin-top: 0;
  font-size: 3.5em;
  font-family: 'Hachi Maru Pop', cursive;
  color: #11698e;
}

h2 {
  font-size: 2.5em;
  font-family: 'Hachi Maru Pop', cursive;
  color: #11698e;
}

h3 {
  font-size: 2em;
  font-family: 'Hachi Maru Pop', cursive;
  color: #11999E;
}

h4
{
  font-size: 1.5em;
  font-family: 'Hachi Maru Pop', cursive;
  color: #11999E;
}


p {
  font-size: 1.2em;
}

.top-container {
  background-color: #a3d2ca;
}

.pythonimg {
  width: 35%;
}
.cimg
{
  width: 35%;
}
.webimg
{
  width: 35%;
}
.writeimg
{
  width: 35%;
}
.faceimg
{
  width: 25%;
  border-radius: 100%;
}

.ribbon {
  height: 100px;
  width: 100%;
  background-color: #74c7b8;
  margin: 0;
  position: relative;
  top: -34px;
}

.profile
{

}

.skills
{

}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px;
}

.copyr
{
  font-style: arial;
  color: #ffffff;
  font-size: 0.9em;
}

.bottom-container
{
  background-color: #74c7b8/*#bce6eb*/;
}

#cloud1 {
  position: relative;
  top: 150px;
}

#cloud2 {
  position: relative;
  left: 200px;
}

#cloud3 {
  position: relative;
  top: 150px;
  right: 300px;
}

#cloud4 {
  position: relative;
  top: 250px;
}


#mainhead
{
  line-height: 200%;
}


#infoface
{
  width: 60%;
  margin: 10px auto 100px;
}

.contact-me
{
  margin-bottom: 100px;
}

.def-para
{
  font-size: 2.4em;
}





a:hover {
  color: gold;
}

.subtitle
{
  font-weight: normal;

}

.contact-images
{
  width: 5%;
  margin: auto 10px auto 20px;

}



hr{

  border-style: dotted none none;
  border-color: #ffffff;
  border-width: 5px;
  width: 15%;
}



.ukama
{
  margin: 70px auto 30px;
  line-height: 0.9;
  width: 80%;
}

.portal
{
  width: 30%;
}


.btn {
  background: #5ac7b3;
  background-image: -webkit-linear-gradient(top, #5ac7b3, #75c7b8);
  background-image: -moz-linear-gradient(top, #5ac7b3, #75c7b8);
  background-image: -ms-linear-gradient(top, #5ac7b3, #75c7b8);
  background-image: -o-linear-gradient(top, #5ac7b3, #75c7b8);
  background-image: linear-gradient(to bottom, #5ac7b3, #75c7b8);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 3px 5px 5px #666666;
  -moz-box-shadow: 3px 5px 5px #666666;
  box-shadow: 3px 5px 5px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 17px;
  padding: 7px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #03e8f0;
  background-image: -webkit-linear-gradient(top, #03e8f0, #20c1d6);
  background-image: -moz-linear-gradient(top, #03e8f0, #20c1d6);
  background-image: -ms-linear-gradient(top, #03e8f0, #20c1d6);
  background-image: -o-linear-gradient(top, #03e8f0, #20c1d6);
  background-image: linear-gradient(to bottom, #03e8f0, #20c1d6);
  text-decoration: none;
}
